.toggleNav {
    position: fixed;
    width: 2.5%;
    height: 72px;
    border: 0px;
    border-top-right-radius: 10px;
    left: 17%;
    top: 310px;
    z-index: 1;
    text-align: left;
    cursor: pointer;
    background-color: #2790da;
}

.toggleNav span {
    display: inline-block;
    margin: 0 auto;
    font-size: 17px;
    width: 2.5%;
    color: #FFFFFF;
    padding-top: 20%;
    padding-left: 30%;
}

.toggleNav .close {
    display: none;
}

@media print {
    #report_body {
        margin: 0 !important;
        padding-left: 4% !important;
    }

    #report_directory {
        border: none !important;
        display: block !important;
    }

    #project_name input {
        border: none !important;
    }

    .del_group {
        display: none;
    }

    nav {
        display: none;
    }

    .img_print {
        display: table;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .page-break-after {
        page-break-before: always;
        page-break-after: always;
    }

    img {
        max-height: 900px;
    }

    .sel_container {
        display: none !important;
    }

    .toggleNav {
        display: none;
    }
}
