// 启用CONDA
conda.enabled = true

// 全局参数
params {
  // Conda 环境
  conda_env {
    basic = '/home/earthtest/miniconda3/envs/microbial_wgs'
    nano = '/home/earthtest/miniconda3/envs/nano'
    rgi = '/home/earthtest/miniconda3/envs/rgi'
    denovo = '/home/earthtest/miniconda3/envs/denovo'
    medaka = '/home/earthtest/miniconda3/envs/medaka'
    resfinder = '/home/earthtest/miniconda3/envs/resfinder'
    asm = '/home/earthtest/miniconda3/envs/assembly'
    checkm = '/home/earthtest/miniconda3/envs/checkm'
  }
  // 数据库
  db {
    VFDB_blastdb = '/sdbb/share/database/VFDB/VFDB_setB_nt/VFDB'
    VFDB_setB_desc = '/sdbb/share/database/VFDB/VFDB_setB_pro/clean_VFDB_setB_des.txt'
    VFDB_setB_fa = '/sdbb/share/database/VFDB/VFDB_setB_nt/VFDB_setB_nt.fas'
    VFDB_merge_tab = '/sdbb/share/database/VFDB/merge_VFDB.tab'
    CARD_tab = '/sdbb/share/database/card/card.tab'
    EGGNOG_dir = '/sdbb/share/database/eggNOG'
    GO_obo = '/sdbb/share/database/GO/go-basic.obo'
    KEGG_dir = '/sdbb/share/database/KEGG/db'
    CAZY_dir = '/sdbb/share/database/CAZY'
    SWISSPROT_dir = '/sdbb/share/database/UniProt/2020-09-23/swissprot_db'
    RepeatMasker_lib_dir = '/sdbb/share/database/RepeatMasker/Libraries'
    Resfinder_dir = '/sdbb/share/database/resfinder/resfinder_V2.2.1'
    PLASMID_blastdb = '/sdbb/share/database/PLSDB/2023_11_03/plsdb.fna'
    PLASMID_annotbl = '/sdbb/share/database/PLSDB/2023_11_03/plsdb.anno.tab'
    CHECKV_db = '/sdbb/share/database/checkv/checkv-db-v1.5'
    KOfam_dir = '/sdbb/share/database/KEGG/KOfam'
    CheckM_dir = '/sdbb/share/database/checkm'
  }
}
